.TodoList {
    border: 1px solid #ac0202;
    margin-top: 20px;
    padding-top: 20px;

    button {
        margin-left: 100px;
        background-color: #555;
    }

    ul {
        padding: 0 40px;
    }

    .list-item {
        list-style: none;
        background-color: #eee;
        height: 40px;
        line-height: 40px;
        font-size: 16px;
        border: 1px solid #aaa;
        padding-left: 10px;
    }

    .list-item + .list-item {
        margin-top: 10px;
    }
}