.App {
  width: 500px;
  background: #ccc;
  border: 1px solid #666;
  padding: 60px;
  position: relative;

  .BtnSet {
    text-align: center;
  }

  .BtnSet div {
    display: inline;
  }

  .BtnSet div + div {
    margin-left: 100px;
  }
}